.aboutme .hi {
    font-size: 2em;
    height: 80px;
}
.aboutme .portrait {
    float: left;
    margin-right: 100px;
    margin-top: 80px; /* .hi height */
    margin-bottom: 100px;
    border-radius: 10px;
    display: block;
    width: 240px;
    box-shadow: 7px 7px 7px 0 rgba(50, 50, 50, 0.75);
    position: relative;
    right: 10px;
}
.aboutme .thatsme {
    overflow: auto;
}
.aboutme .links {
    margin-top: 2em;
}
.aboutme .links ul {
    list-style-type: none;
    padding: 0;
    margin-top: 25px;
}
.aboutme .links li {
    display: inline;
    margin-left: 20px;
}
.aboutme .links li:first-child {
    margin-left: 0;
}
.aboutme .links img {
    height: 50px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: relative;
    bottom: 0;
    right: 0;
}
.aboutme .links img:hover {
    bottom: 4px;
}
