html, body {
    background-color: #333;
    color: #EEE;
}
.pagewrapper a,
.footer a {
    color: #999;
}
.header a {
    color: #DDD;
}
.header {
    background-color:  #222;
    -webkit-box-shadow: 0 2px 1px 0 rgba(50, 50, 50, 0.88);
    box-shadow:         0 2px 1px 0 rgba(50, 50, 50, 0.88);
}
.aboutme .portrait img {
    box-shadow: 5px 5px 5px 0 rgba(50, 50, 50, 0.75);
}
nav a:hover,
.pagewrapper a:hover,
.footer a:hover,
.header .branding h2,
.aboutme .hi {
    color: #F54B4B;
}
.aboutme .links img {
    filter: invert(100%);
}
.aboutme .links img:hover {
    /* filter: invert(54%) sepia(45%) saturate(4152%) hue-rotate(327deg) brightness(93%) contrast(107%); */
}
#banana:hover img {
    filter: invert(79%) sepia(80%) saturate(1963%) hue-rotate(6deg) brightness(105%) contrast(105%);
}
