html, body {
    background-color: #333;
    color: #EEE;
}
.pagewrapper a,
.footer a {
    color: #999;
}
.header a {
    color: #DDD;
}
.header {
    background-color:  #222;
    -webkit-box-shadow: 0 2px 1px 0 rgba(50, 50, 50, 0.88);
    box-shadow:         0 2px 1px 0 rgba(50, 50, 50, 0.88);
}
.header .menu_icon,
.header .setting_icons .material-icons {
    color: #666;
}
.header .setting_icons a {
    color: #777;
}
.home .portrait img {
    box-shadow: 5px 5px 5px 0 rgba(50, 50, 50, 0.75);
}
nav a:hover,
.header .setting_icons a:hover,
.header .setting_icons li:hover .material-icons,
.pagewrapper a:hover,
.footer a:hover,
.header .branding h2,
.home .hi {
    color: #F54B4B;
}
.home .links img {
    filter: invert(100%);
}
.home .links img:hover {
    /* filter: invert(54%) sepia(45%) saturate(4152%) hue-rotate(327deg) brightness(93%) contrast(107%); */
}
#banana:hover img {
    filter: invert(79%) sepia(80%) saturate(1963%) hue-rotate(6deg) brightness(105%) contrast(105%);
}
.typewriter {
  border-right-color: #F54B4B;
  animation:
    typing 2.2s steps(42, end),
    blinking-cursor .7s step-end infinite;
}
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: #F54B4B; }
}
.interesting_boxes > div {
    transition : border 400ms ease-out;
}
.interesting_boxes > div.active {
    border: solid 5px #F54B4B;
}
.interesting_boxes > div,
.curriculumvitae .content {
    border: solid 5px #555;
}
.curriculumvitae .content .when {
    color: #F54B4B;
}
.curriculumvitae::after,
.curriculumvitae .content,
.interesting_boxes > div {
    background-color: #555;
}
.curriculumvitae .container::after {
    background-color: #F54B4B;
}
.curriculumvitae .left::before,
.curriculumvitae .right::before {
    border-color: #555;
}
.curriculumvitae .left::before {
    border-color: transparent transparent transparent #555;
}
.curriculumvitae .right::before {
    border-color: transparent #555 transparent transparent;
}
.wishlist li::marker {
    color: #F54B4B;
}
.wishlist .isbn {
    color: #999;
}
.toggle_dark {
    display: none;
}
