html, body {
    background-color: #EEE;
    color: #333;
}
.pagewrapper a,
.footer a {
    color: #777;
}
.header a {
    color: #DDD;
}
.header {
    background-color:  #333;
    -webkit-box-shadow: 0 2px 1px 0 rgba(50, 50, 50, 0.88);
    box-shadow:         0 2px 1px 0 rgba(50, 50, 50, 0.88);
}
.home .portrait img {
    box-shadow: 5px 5px 5px 0 rgba(50, 50, 50, 0.75);
}
nav a:hover,
.header .branding h2 {
    color: #E45151;
}
.home .hi,
.pagewrapper a:hover,
.footer a:hover {
    color: #AA3838;
}
.typewriter {
  border-right-color: #AA3838;
  animation:
    typing 2.2s steps(42, end),
    blinking-cursor .7s step-end infinite;
}
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: #AA3838; }
}
.home .links img {
    filter: invert(20%);
}
.home .links img:hover {
    /* filter: invert(54%) sepia(45%) saturate(4152%) hue-rotate(327deg) brightness(93%) contrast(107%); */
}
#banana:hover img {
    filter: invert(79%) sepia(80%) saturate(1963%) hue-rotate(6deg) brightness(105%) contrast(105%);
}
.interesting_boxes > div {
    transition : border 400ms ease-out;
}
.interesting_boxes > div.active {
    border: solid 5px #AA3838;
}
.interesting_boxes > div,
.curriculumvitae .content {
    border: solid 5px #BBB;
}
.curriculumvitae .content .when {
    color: #AA3838;
}
.curriculumvitae::after,
.curriculumvitae .content,
.interesting_boxes > div {
    background-color: #BBB;
}
.curriculumvitae .container::after {
    background-color: #AA3838;
}
.curriculumvitae .left::before,
.curriculumvitae .right::before {
    border-color: #BBB;
}
.curriculumvitae .left::before {
    border-color: transparent transparent transparent #BBB;
}
.curriculumvitae .right::before {
    border-color: transparent #BBB transparent transparent;
}
.wishlist li::marker {
    color: #AA3838;
}
.toggle_bright {
    display: none;
}
