body {
    font-size: 1rem;
}
.header {
    position: relative;
}
.header .branding {
    grid-column: 2 / span 1;
    margin-bottom: 0;
}
.header .branding h2,
.header nav {
    padding-bottom: 1em;
}
.header .branding h2 {
    display: block;
    font-size: 1.1em;
}
.header nav {
    grid-column: 3 / span 1;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1.2em;
}
.header nav li {
    margin-left: 4em;
}
.page {
    min-width: 970px;
    max-width: 970px;
    margin: 5em auto;
}
.aboutme .portrait {
    float: left;
    width: 240px;
    margin-right: 100px;
    position: relative;
    right: 10px;
}
.aboutme .links img {
    height: 55px;
}
.aboutme .links img:hover {
    bottom: 4px;
}
.footer {
    font-size: 0.8em;
}
