.header {
    position: relative;
    z-index: 200;
}
.header .branding {
    grid-column: 2 / span 1;
    margin-bottom: 0;
}
.header .branding h1 {
    font-size: 3em;
}
.header .branding h2,
.header nav {
    padding-bottom: 1em;
}
.header .branding h2 {
    display: block;
    font-size: 1.1em;
}
.header nav {
    grid-column: 3 / span 1;
    justify-self: right;
    align-self: end;
    font-size: 1.2em;
}
img.background {
    display: none; // disable until stretch over 100% height issue is fixed
}
a.toggle_background {
    display: block;
}
img.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -999;
}
.pagewrapper {
    opacity: 0.9;
}
.page {
    min-width: 970px;
    max-width: 1200px;
}
.home {
    max-width: 970px;
    margin-top: 150px;
}
.home .portrait {
    height: 384px;
    width: 255px;
    transform: none;
    transition: transform 0.5s, background-image 0.5s;
}
.home .portraitcontainer {
    float: left;
    position: relative;
    right: 10px;
    margin-right: 100px;
}
.home .portraitcontainer:hover .portrait {
    transform: rotateZ(360deg);
    background: url("../img/bewerbungsfoto-20170602-fun-small.jpg");
    background-size: cover;
}
.home .links {
    margin-top: 2em;
}
.home .links {
    width: 90%;
}
.home .links img {
    height: 60px;
    width: 60px;
}
.home .links img:hover {
    bottom: 4px;
}
.aboutme nav {
    font-size: 1em;
}
.interesting_boxes {
    grid-template-columns: 33% 33% 33%;
}
.footer {
    grid-template-columns: 5% 0.5fr 0.5fr 5%;
    font-size: 0.8em;
}
.footer .copyright {
    grid-column: 2 / span 1;
}
.footer nav {
    grid-column: 3 / span 1;
}
