* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    font-family: "Oxygen","Helvetica Neue","Arial","sans-serif";
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}
h1,
h2,
.home .hi {
    font-family: "Playfair Display","Times New Roman", "Times","serif";
}
a {
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.3s;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin-left: 2em;
}
nav li:first-child {
    margin-left: 0;
}
.setting_icons {
    margin-bottom: 20px;
    font-size: 0.8em;
    font-weight: bold;
}
.setting_icons ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.setting_icons li {
    display: inline-block;
    margin-left: 15px;
}
.setting_icons li:first-child {
    margin-left: 0;
}
.setting_icons .material-icons {
    vertical-align: bottom;
    font-size: 26px;
}

.header, .footer {
    display: grid;
    grid-template-columns: 5% 0.5fr 0.5fr 5%;
    width: 100%;
}
.header {
    top: 0;
    padding-bottom: 1.5em;
    overflow: auto;
}
.header a {
    text-decoration: none;
}
.header .branding,
.header .menu {
    grid-column: 2 / span 2;
}
.header .branding h1,
.header .branding h2 {
    margin: 0;
    font-weight: normal;
}
.header .branding h1 {
    font-size: 5em; /* fallback */
    font-size: 12vw; /* adjust to branding strings */
}
.header .branding h2 {
    font-size: 1em; /* fallback */
    font-size: 4vw; /* adjust to branding strings */
}
.header .menu {
    text-align: right;
    font-size: 1.0em; /* fallback */
    font-size: 4.3vw; /* adjust to menu strings */
}
.header .menu a {
    position: relative;
    bottom: 0;
    transition-duration: 0.3s;
    transition-property: bottom, color;
}
.header .menu a:hover {
    bottom: 2px;
}
.header .menu .menu_icon {
    margin-bottom: 20px;
}
img.background,
a.toggle_background {
    display: none;
}
.pagewrapper {
    padding-bottom: 2em; /* height of footer */
}
.page {
    width: 85%;
    margin: 3em auto;
}
.element {
    padding-bottom: 2em;
    margin-top: 2em;
    border-bottom: 1px solid #AAA;
}
.element .headline {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.home .hi {
    font-size: 3em;
    margin-bottom: 0.5em;
}
.home .portraitcontainer {
    display: block;
    margin-left: auto;
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 10px;
}
.home .portrait {
    background-image: url("../img/bewerbungsfoto-20170602-regular-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.home .thatsme {
    overflow: auto;
}
.home .links {
    margin-top: 3em;
    width: 100%;
}
.home .links ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
.home .links li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.home .links li:last-child {
    margin-right: 0;
    margin-left: 5px; /* weird mail icon */
}
.home .links img {
    height: 75px;
    width: 75px;
    margin: 0 0 20px 0;
    transition-property: bottom;
    transition-duration: 0.3s;
    position: relative;
    bottom: 0;
    right: 0;
}

.aboutme {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
}
.aboutme nav {
    font-size: 1em;
    margin-bottom: 20px;
}
.aboutme main {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.aboutme main::-webkit-scrollbar {
    display: none;
}
.aboutme article {
    scroll-snap-align: start;
}
.curriculumvitae .content,
.interesting_boxes > div {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.curriculumvitae {
    position: relative;
    margin: 0 auto;
    list-style-type: none;
}
/* The actual timeline (the vertical ruler) */
.curriculumvitae::after {
    content: '';
    position: absolute; /* 'fixed' for extension */
    width: 4px;
    top: 0;
    bottom: 0;
    left: 50%;
    /* margin-left: -3px; */
}
.curriculumvitae .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.curriculumvitae .content {
    padding: 14px 20px;
    position: relative;
}
.curriculumvitae .content a {
    color: inherit;
    text-decoration: none;
}
.curriculumvitae .content a:hover {
    color: inherit;
    text-decoration: underline;
}
.curriculumvitae .content .when {
    margin-bottom: 6px;
}
.curriculumvitae .content .where {
    font-weight: bold;
}
.curriculumvitae .content .thesis {
    margin-top: 20px;
}
/* The circles on the timeline */
.curriculumvitae .container::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    right: 9px;
    top: 21px;
    border-radius: 50%;
    z-index: 1;
}
.curriculumvitae .left {
    left: 0;
}
.curriculumvitae .right {
    left: calc(50% - 36px);
}
/* Fix the circle for containers on the right side */
.curriculumvitae .right::after {
    left: 9px;
}
/* The arrows next to containers */
.curriculumvitae .left::before,
.curriculumvitae .right::before {
    display: none; /* because they look shitty if containers have fancy borders */
    content: " ";
    width: 0;
    height: 0;
    border: medium solid;
    position: absolute;
    top: 20px;
    z-index: 1;
}
.curriculumvitae .left::before {
    right: 36px;
    border-width: 10px 0 10px 10px;
}
.curriculumvitae .right::before {
    left: 30px;
    border-width: 10px 10px 10px 0;
}
@media screen and (max-width: 1025px) {
  .curriculumvitae::after {
    left: 31px;
  }
  .curriculumvitae .container {
    width: 100%;
    margin-bottom: 35px;
    padding-left: 20px;
    padding-right: 15px;
  }
  .curriculumvitae .container::before {
    display: none; /* because I fail to make every second arrow visible */
    left: 20px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .curriculumvitae .left::after, .curriculumvitae .right::after {
    left: -15px;
  }
  .curriculumvitae .right {
    left: 0%;
  }
  .curriculumvitae .content .when {
    font-size: 0.8em;
  }
}
.interesting_boxes {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100%;
}
.interesting_boxes > div {
    padding: 4px 18px;
    margin: 20px;
    height: -moz-fit-content;
    height: fit-content;
}
.interesting_boxes > div .title {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.interesting_boxes > div .description {
    display: none;
}

.wishlist li {
    font-size: 1.5em;
}
.wishlist {
    margin-bottom: 50px;
}

.footer  {
    position: absolute;
    bottom: 0;
    height: 2em;
    grid-template-columns: 5% 0.5fr 0.5fr 5%;
    font-size: 0.8em;
    margin: 1em 0;
}
.footer .copyright {
    grid-column: 2 / span 1;
}
.footer nav {
    grid-column: 3 / span 1;
    justify-self: right;
}

.typewriter {
  /* font-family: monospace; [> Web-safe typewriter-like font <] */
  max-width: -moz-fit-content; /* Don't type trailing whitespace */
  max-width: fit-content; /* Don't type trailing whitespace */
  padding-right: 13px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .09em solid; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; [> Gives that scrolling effect as the typing happens <] */
  /* letter-spacing: .12em; [> Adjust as needed <] */
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
