* {
    box-sizing: border-box;
}
html, body {
    background-color: #EEE;
}
body {
    min-height: 100vh;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    font-family: "Oxygen","Helvetica Neue","Arial","sans-serif";
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.5;
    color: #333;
}
a {
    color: #C09A1C;
    text-decoration: none;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
a:hover {
    color:  #E3B621;
}
.header {
    display: grid;
    grid-template-columns: 5% 0.6fr 0.4fr 5%;
    background-color:  #FFE282;
    width: 100%;
    top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    -webkit-box-shadow: 0 11px 19px 0 rgba(50, 50, 50, 0.88);
    box-shadow:         0 11px 19px 0 rgba(50, 50, 50, 0.88);
    overflow: auto;
    display: grid;
}
.header a {
    color: #333;
    text-decoration: none;
}
.header .branding {
    grid-column: 2 / span 2;
}
.header nav {
    grid-column: 2 / span 2;
}
.header .branding {
    margin-bottom: 1em;
}
.header .branding h1,
.header .branding h3 {
    margin: 0;
    /*text-align: center;*/
    font-weight: normal;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
    transition-duration: 0.3s;
}
.header .branding h1:hover,
.header .branding h3:hover {
    text-shadow: 5px 3px 8px rgba(150, 150, 150, 1);
}
.header .branding h1 {
    font-size: 2.8em;
}
.header .branding h3 {
    display: none;
}
.header nav {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.header nav ul {
    /* height: 1em; */
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header nav li {
    float: left;
    margin-left: 2em;
}
.header nav li:first-child {
    margin-left: 0;
}
.header nav a {
    position: relative;
    bottom: 0;
    /*transition-property: color, bottom;*/
    /*transition-duration: 3.5s;*/
    /*-o-transition-duration: 3.5s;*/
    /*-moz-transition-duration: 3.5s;*/
    /*-webkit-transition-duration: 3.5s;*/
}
.header nav a:hover {
    color: #999;
    bottom: 4px;
}
.page {
    width: 85%;
    margin: 5em auto;
}
.pagewrapper {
    padding-bottom: 2em; /* height of footer */
}
.element {
    padding-bottom: 2em;
    margin-top: 2em;
    border-bottom: 1px solid #AAA;
}
.element .headline {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.aboutme .hi {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.aboutme .portrait {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    display: block;
    width: 100%;
    box-shadow: 7px 7px 7px 0 rgba(50, 50, 50, 0.75);
}
.aboutme .thatsme {
    overflow: auto;
}
.aboutme .links {
    margin-top: 2em;
}
.aboutme .links ul {
    list-style-type: none;
    padding: 0;
    margin-top: 25px;
}
.aboutme .links li {
    display: inline;
    margin-left: 20px;
}
.aboutme .links li:first-child {
    margin-left: 0;
}
.aboutme .links img {
    height: 150px;
    margin: 0 0 30px 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: relative;
    bottom: 0;
    right: 0;
}
.footer {
    clear: left;
    height: 3em;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 1em 0;
    font-size: 0.8em;
}
.footer .copyright {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
